
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* height: 10000px; */
    font-family: 'Roboto', sans-serif;
    background-color: #000;


}

/* start navbar*/
.navbar{
    z-index: 111;
    cursor: pointer;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.237);
    transition:  0.5s all;
}
.navbar:hover{
    background-color: rgba(255, 255, 255, 0.491);;
}
.navbar-nav:hover{
    background-color: transparent;
}
.navbar-toggler:focus{
box-shadow: none;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    background-color: transparent;
}
/* end navbar*/

.link{
    color: #fff;
    transition: 0.5s all;
}
.link.active{
    color: #0f3a6b;

}
.link:hover {
    color: #053b79;
}

/*start portfolio image*/


.box{
    height:480px;

}
.card1{
    color: #fff; 
    height:100%;
}

.box2{
  height: 480px;
  /* background-color: #053b79; */
  background-image: url(../img/tumblr_7567630f2a022bf940afcf3c53f956b5_f74e5271_540.gif);
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-position: center ;
}

.typewriter h5 {
    display: inline-block;
    font-size: 28px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden; 
    border-right: .15em solid rgb(0, 0, 0); 
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
    typing 3.5s steps(26, end) infinite,
    blink-caret .5s step-end infinite;
}
@media only screen and (max-width: 780px) {
  .typewriter h5 {
    font-size: 15px;
    
  }

}


@keyframes typing {
    from { width: 0 }
    to { width: 105% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ffc107 }
}

.btn1:hover{
    color: #fff;
    background-color: transparent;
    border: none;
}




.h {
    height: 620px;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

/*end portfolio image*/

.icon{
    transition: 0.5s all;
    cursor: pointer;

}
.icon:hover{
    background-color: pink;
}